{% extends 'base.html' %}
{% load static %}

{% block search %}

<!------------------------------------------------------------------------
 Заголовок (+ кількість пошукових запитів та + значення пошукового запиту
 ------------------------------------------------------------------------>

<hgroup class="mb20" id="search_res">
	<center><h1>Результати пошуку</h1></center>
	<h2 class="lead">Знайдено <strong class="text-danger">{{ total_results }}</strong>  результати(ів) за пошуковим запитом <strong class="text-danger">"{{request_value}}"</strong></h2>
</hgroup>

{% if model_1_result %}
<div class="container">

<!-------------------------------------------------------
 РОЗДІЛ НОРМИ
 -------------------------------------------------------->
	<hr style="border: 5px solid grey; border-radius: 1px;">
<center><h3>У реєстрі нормативно-правових актів з питань пожежної безпеки</h3></center>
	<h2 class="lead">Знайдено <strong class="text-danger">{{ result1 }}</strong>  результати(ів)</h2><hr>
{% for item in model_1_result %}

<section class="col-lg-12">
	<article class="search-result row">
		<div class="col-lg-4">
			<ul class="meta-search">
				<li><i class="fas fa-calendar-day"></i> <span>{{ item.normdock.pub_date }}</span></li>
			</ul>
		</div>
	<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
		<h3>{{ item.normdock.type }} {{ item.normdock.name_code }}</h3>
		<h5>	
			{% if item.link_name %}
			<td><a href="{{item.link_name}}">{{ item.normdock.name }}</a>
			{% else  %}
			<td><a href="{{item.file.url}}">{{ item.normdock.name }}</a>
			{% endif  %}
		</h5>
	</div>
	</article>
</section> <hr>

{% endfor %}

{% endif %}

<!-------------------------------------------------------
 РОЗДІЛ ПЕРЕВІРКА
 -------------------------------------------------------->

{% if model_2_result %}
<div class="container">
<hr style="border: 5px solid grey; border-radius: 1px;">
<center><h3>У розділі перевірок об'єктів </h3></center>
<h2 class="lead">Знайдено <strong class="text-danger">{{ result2 }}</strong>  результати(ів) </strong></h2><hr>
{% for item in model_2_result %}

<section class="col-lg-12">
	<article class="search-result row">
	<div class="col-lg-4">
		<ul class="meta-search">
			<li><i class="fas fa-calendar-day"></i> <span>{{ item.objecttype.pub_date }}</span></li>
			<li><i class="fas fa-tags"></i> <span> {{ item.objecttype.headline }} </span></li>
		</ul>
	</div>
	<div class="col-lg-8">
		<h3>{{item.objecttype.supervchapter.full_name}} / {{item.objecttype.supervposition.full_name}}</h3>
		<h5><a href="/object/{{ item.objecttype.id }}/#portfolio">{{ item.descr_name|truncatechars_html:200 }}</a></h5>
	</div>
	</article> <hr>
</section>

{% endfor %}

{% endif %}

{% endblock search %}


