<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ДБН СНИПИ<br>

<div class="section section">
    <h1>ДБН</h1>
{% for item in last_added_docks %}

<!--якщо у адмінці УРЛ посилання - то завантажуеється УРЛ, а якщо посилання на завантажений Файл, то завантажується файл з МЕДІА-->
{% if item.link_name %}
<a href="{{item.link_name}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% else %}
<!--для роботи відображення змісту файлу треба додавати до шляху .url-->
<a href="{{item.file.url}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% endif %}
{% endfor %}

</div>

<div class="section section-1">
    <h1>ДБН</h1>
{% for item in docs_dbn %}

<!--якщо у адмінці УРЛ посилання - то завантажуеється УРЛ, а якщо посилання на завантажений Файл, то завантажується файл з МЕДІА-->
{% if item.link_name %}
<a href="{{item.link_name}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% else %}
<!--для роботи відображення змісту файлу треба додавати до шляху .url-->
<a href="{{item.file.url}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% endif %}
{% endfor %}

</div>

<div class="section section-2">
    <h1>СНиП</h1>
{% for item in docs_snip %}

<!--якщо у адмінці УРЛ посилання - то завантажуеється УРЛ, а якщо посилання на завантажений Файл, то завантажується файл з МЕДІА-->
{% if item.link_name %}
<a href="{{item.link_name}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% else %}
<!--для роботи відображення змісту файлу треба додавати до шляху .url-->
<a href="{{item.file.url}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% endif %}
{% endfor %}

</div>

<div class="section section-2">
    <h1>ППБ</h1>
{% for item in docs_rules %}

<!--якщо у адмінці УРЛ посилання - то завантажуеється УРЛ, а якщо посилання на завантажений Файл, то завантажується файл з МЕДІА-->
{% if item.link_name %}
<a href="{{item.link_name}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% else %}
<!--для роботи відображення змісту файлу треба додавати до шляху .url-->
<a href="{{item.file.url}}" >{{ item.normdock.type }}  {{ item.normdock.name_code }} "{{ item.normdock.name }}".</a> <br>
{% endif %}
{% endfor %}

</div>
</body>
</html>