{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Splash and Coming Soon Page Effects with CSS3</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" href="{% static 'css/demo.css' %}">
		<link rel="stylesheet" href="{% static 'css/style3.css' %}">

		<!--[if lt IE 10]>
				<link rel="stylesheet" href="{% static 'css/style3IE.css' %}">
		<![endif]-->


    </head>
    <body>
        <div class="container">

  
			<div class="sp-container">
				<div class="sp-content">
					<div class="sp-wrap sp-left">
						<h2>
							<span class="sp-top">Раді вітати у інформаційній</span> 
							<span class="sp-mid">SUPER</span> 
							<span class="sp-bottom">системі</span>
						</h2>
					</div>
					<div class="sp-wrap sp-right">
						<h2>
							<span class="sp-top">для інспектора ДСНС  </span> 
							<span class="sp-mid">VISION<i>!</i></span> 
							<span class="sp-bottom">України</span> 
						</h2>
					</div>
				</div>
				<div class="sp-full">
					<h2>Для продовження</h2>
					<a href="home">Натискай!</a>
				</div>
			</div>
        </div>
    </body>
</html>