
#normdocs { height: 600px;}


#content_1 {
     margin: 0px 0px 10px 0px;
     padding: 10px;
     height: 350px;
     border: 1px solid #ccc;}

/***** налаштування пошукогової форми у навбарі search  *****/

#search {margin-left: 15px;}

/***** сторінка search results *****/

@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

/***** для переходу на ступені ризику *****/

 .callout-2{
    padding:15rem 0;
    background:-webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../img/portfolio-1.jpg);
    background:linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../img/portfolio-1.jpg);
    background-position:center center;background-repeat:no-repeat;background-size:cover}
 .callout-2 h2{font-size:3.5rem;font-weight:700;display:block;max-width:60rem}

#correction_icons {font-weight: 900; padding-top: 16px;}

#correction_icons_1 {padding-top: 35px;}

#correction_icons_2 {padding-top: 20px;}
/***** slideart (start) *****/

.slider {

    width: 450px;
    height: 400px;

    margin-left: -50px;
}

.slider-nav {

    width: 450px;
    height: 90px;
    margin-left: -50px;
}

#art_img_big {
    height: 290px;
    margin-top: 20px;
    }

#art_img_sm {
    height: 150px;
    box-shadow: inset 5px 5px 10px 3px #ccc;
    box-shadow: 0.8em 0.8em 10px rgba(122,122,122,0.5);
    }
.container-photo {
    margin-left: 50px;
}

.container-content {margin-left: 50px; margin-right: 50px;}
.container-content h4 p {text-indent: 1.5em; margin-top: 0; text-align: -webkit-auto;}
.container-content h3 {color: #0015a5;}
.container-content h4 {font-weight: 400}

.top-title {
      position: absolute; /* блок занимает ширину содержимого, max-width её ограничивает */

      right: 50;
}

/***** Картинка у меню Navigation *****/

.mr-6sm { width: 40px; height: 40px;}
.mr-6 { width: 120px; height: 120px;}

/***** Стиль надпису SUPERVISION у Header.html *****/

.mb-1 h1 {
  overflow: hidden;
  text-shadow: 0 0 tomato,
               0 0 yellowgreen,
               0 0 skyblue;
  color: transparent;
  transition: all 1s;
  }

.mb-1 h1:hover {
    text-shadow: -400px 0 tomato,
                 400px 0 yellowgreen,
                 0 0 skyblue;
    }

#instr {height: 30px; width: 30px;}


